<div class="jumbotron" style="padding-top: 5em;
    padding-bottom: 5em">


    <div class="container">
    <img src="https://5174c33d1f684b996dd15da05da1aa9f4c2dbe85.googledrive.com/host/0B8Hr3CYT92jeZkpqU0FBdzdJRkU/Logo.png" alt="logo" style="vertical-align: middle;"/>
    <br><br>

  <p>
  Este es un sitio especialmente para estudiantes cuyo proposito es conectar a todos aquellos
  que necesiten de alguna asesoria para esa materia dificil o examen imposible. De igual manera
  si estas dispuesto a ofrecer ayuda como tutor por una contribución monetaria o de manera gratuita, esta
  plataforma te permitira conectarte con todas las personas que asi lo requieran.
  </p>
  <p><a class="button blue medium" href="#" role="button">

    <span class="glyphicon glyphicon-education" style="color:white; font-size:25px"></span>
    Learn more</a></p>
  </div>
</div>
