<div class="jumbotron" style="padding-top: 5em;
    padding-bottom: 5em">


    <div class="container">
      
    <img src="/assets/Logo.png"   alt="logo" style="vertical-align: middle; max-width: 100%; width: 100%; "/>  
      
    <br><br>

  <p style="text-align: justify;">
  Este es un sitio especialmente para estudiantes cuyo proposito es conectar a todos aquellos
  que necesiten de alguna asesoria para esa materia dificil o examen imposible. De igual manera
  si estas dispuesto a ofrecer ayuda como tutor por una contribución monetaria o de manera gratuita, esta
  plataforma te permitira conectarte con todas las personas que asi lo requieran.
  </p>
  <!----<p><a class="button blue medium" href="#" role="button">

    <span class="glyphicon glyphicon-education" style="color:white; font-size:25px"></span>
    Learn more</a></p>--->
    
  </div>
</div>
